* {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#content {
    height: 100%;
    background: url("pexels-rachel-claire-4577179.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: lightskyblue;
}
.browse-btns {
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: rgba(22, 22, 22, 0.856);
    border: 3px solid coral;
    height: 80px;
    width: 125px;
    margin: 10px 30px 0px 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 25px;
    border-bottom: 5px solid transparent;
    position: relative;
    left: 32%;
    
}
.browse-btns:hover {
    transition-duration: 0.5s;
    box-shadow: inset 0 1px 15px 2px coral;
    border-bottom: 5px solid coral;
}
.browse-btns:active {
    transform: translateY(-5px);
    transition-duration: 30ms;
}
.active-tab {
    position: relative;
    top: -10px;
    border-bottom: 5px solid coral;
}
.tab-div {
    height: auto;
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
    border-bottom: 8px solid rgba(0, 0, 0, 0.788);
}
#header {
    color: coral;
    height: auto;
}
#header > h1 {
    position: absolute;
    background: none;
    height: 20px;
    font-size: 75px;
    font-style: italic;
    top: 3%;
    left: 33%;
}
#header > small {
    position: absolute;
    background: none;
    height: 20px;
    font-size: 20px;
    font-style: italic;
    top: 13%;
    left: 55%;
}
#card-container {
    position: absolute;
    background: none;
    height: 500px;
    display: flex;
    top: 42%;
    left: 5%;
    width: 90%;
    justify-content: space-evenly;
}
.card-columns {
    width: 33%;
    height: 200px;
    text-align: center;
    padding: 20px;
    color: whitesmoke;
}
.card-columns > h2 {
    color: lightyellow;
    margin: 0 auto;
    height: auto;
    padding-top: 280px;
}
.card-columns > p {
    font-size: 17px;
    color: lightyellow;
    margin: 0 auto;
    width: 400px;
    padding-top: 280px;
    height: auto;
}
#card-1 {
    background: url("pexels-edward-eyer-2923034.jpg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center top 5%;
}
#card-2 {
    background: url("pexels-valeria-boltneva-1484516.jpg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center top 5%;
}
#card-3 {
    background: url("pexels-cottonbro-4255412.jpg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center top 5%;
} 
.menu-columns {
    width: 33%;
    height: 200px;
    text-align: center;
    padding: 20px;
    color: whitesmoke;
}  
.menu-columns > h2 {
    color: coral;
    font-style: italic;
    font-size: xx-large;
    margin: 0 auto;
    height: auto;
    padding: 250px 0 20px 0;
}
.menu-columns > p {
    font-size: 17px;
    color: lightyellow;
    margin: 0 auto;
    width: 400px;
    height: auto;
}
#menu-1 {
    background: url("pexels-daria-shevtsova-1095550.jpg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center top 5%;
}
#menu-2 {
    background: url("pexels-dzenina-lukac-1583884.jpg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center top 5%;
}
#menu-3 {
    background: url("pexels-picjumbocom-196643.jpg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center top 5%;
}
.address-block {
    color: coral;
    display: block;
    font-style: italic;
    text-align: center;
}
.address-block > h1 {
    font-size: xxx-large;
    height: auto;
    margin-bottom: 20px;
}
.address-block > p {
    font-size: x-large;
    line-height: 60px;
    margin-bottom: 20px;
    height: auto;
}